<ion-header>
    <ion-navbar color="primary">
        <ion-title>Login</ion-title>    
    </ion-navbar>
</ion-header>

<ion-content class="padding">
   <form [formGroup]="loginForm">
    <ion-list>
       
        <ion-item>
            <ion-label floating>Correo Electronico</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>
    
    <div padding>
      <button ion-button primary block (click)="signin()" [disabled]="!loginForm.valid">Autentificarse</button>
    </div>
    
    <div padding>
      <button ion-button full clear favorite (click)="createAccount()" [disabled]="!loginForm.valid">
          <ion-icon name="person"></ion-icon>
          Crear nueva cuenta</button>
    </div>
   </form>
</ion-content>