<ion-tabs color="light">
    <ion-tab [root]="users" tabTitle="Inicio" tabIcon="home"></ion-tab>
        <ion-tab [root]="groups" tabTitle="Grupos" tabIcon="people"></ion-tab>
    <ion-tab [root]="profile" tabTitle="Configuracion" tabIcon="construct"></ion-tab>
</ion-tabs>