<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button menuToggle (click)="saveIssue()"> 
                <ion-icon name="exit"></ion-icon>
            </button>  
        </ion-buttons>


        <ion-title>Incidente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

      <ion-item>
            <ion-label floating>Nombre del Incidente</ion-label>
             <ion-input type="text" [(ngModel)]="nameIssue"></ion-input>
        </ion-item>
    
    <ion-label>Userios en el incidente</ion-label>



    <ion-list>
        <ion-item-sliding *ngFor="let user of usersToIssue">
            <ion-item *ngIf="user.$key !== uid">
                <ion-label>{{user.email}}</ion-label>
            </ion-item>
            <ion-item-options side="right">
                <button danger (click)="deleteUser(user.$key)" ion-button color="danger"><ion-icon name="trash"></ion-icon> Borrar</button> 
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab bottom right>
        <button ion-fab (click)="addUsers()"> 
            <ion-icon name="person-add"></ion-icon>
        </button>  
      </ion-fab>
</ion-content>