<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button menuToggle [navPush]="createGroupPage"> 
                <ion-icon name="add"></ion-icon>
            </button> 
        </ion-buttons>

         <ion-buttons right>
            <button ion-button menuToggle [navPush]="searchPage"> 
                <ion-icon name="search"></ion-icon>
            </button> 
        </ion-buttons>


        <ion-title >Grupos</ion-title>
  </ion-navbar>

</ion-header>




<ion-content>
    <ion-label padding >Mis Grupos</ion-label>
    <ion-list>
     <ion-item-sliding  *ngFor="let group of groups | async" >
        <ion-item (click)="openGroup(group)">


            <ion-avatar item-left>
                <img src="assets/images/default.jpg">
        </ion-avatar>

        
         <h2>{{(group.metadata | async)?.name}}</h2>
         <h1>{{(group)?.$value}}</h1>
        </ion-item>
            
        <ion-item-options side="right">
            <!-- <button danger (click)="dragAndDrop()" ion-button><ion-icon name="trash"></ion-icon> Delete</button> -->
            <button danger  ion-button color="danger"><ion-icon name="trash"></ion-icon> Borrar</button>
            <button danger  ion-button color="secondary"><ion-icon name="volume-off"></ion-icon> Silenciar</button>
            <button danger  ion-button color="dark"><ion-icon name="refresh"></ion-icon> Editar</button>
            
        </ion-item-options>
         
       
     </ion-item-sliding>
     
    </ion-list>
</ion-content>


