<ion-header>
     <ion-navbar color="secondary">

          <ion-buttons right>
            <button ion-button menuToggle (click)="createIssuePage()"> 
                <ion-icon name="add"></ion-icon>
            </button> 
        </ion-buttons>


        <ion-title>Incidente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-label padding >Incidentes en el grupo</ion-label>

<ion-list>
    <ion-item-sliding  *ngFor="let group of groupIssues | async">
        <ion-item (click)="openChat(group.$key)" *ngIf="(group.metadata | async)?.status">
            <ion-avatar item-left>
                <img src="assets/images/default.jpg">
            </ion-avatar>
            <h2>{{(group.metadata | async)?.name}}</h2>
        </ion-item>
        <ion-item-options side="right">
            <button danger (click)="turnOff(group.$key)" ion-button color="danger"><ion-icon name="trash"></ion-icon> Borrar</button>
            <button danger  ion-button color="secondary"><ion-icon name="volume-off"></ion-icon> Silenciar</button>
            <button danger (click)="editIncidente(group.$key)" ion-button color="dark"><ion-icon name="refresh"></ion-icon> Editar</button>    
        </ion-item-options>
    </ion-item-sliding>
</ion-list>


</ion-content>