<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Chats Recientes</ion-title>
        <ion-buttons end>
            <ion-spinner color="light" *ngIf="!(users | async)"></ion-spinner>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content>
  

     <a ion-item *ngFor="let isue of issues | async" (click)="openChat(isue.$key,isue.idGroup,isue.nameGroup,isue.nameIssue)">
        
        <ion-avatar item-left>
                <img src="assets/images/default.jpg">
        </ion-avatar>

       
         <h5>{{(isue)?.nameGroup}}</h5>

         <h3>{{(isue)?.nameIssue}}</h3>

        <h2 *ngIf="isue.isRead == true">
            {{(isue)?.lastMessage}}
        </h2>
        <h2 *ngIf="isue.isRead == false">
            <strong>
             {{(isue)?.lastMessage}}
            </strong>
        </h2>
         
       
     </a>
     
     <hr>
</ion-content>