<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button menuToggle (click)="saveUsersIssue()"> 
                <ion-icon name="exit"></ion-icon>
            </button>  
        </ion-buttons>


        <ion-title>Incidente</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    
<ion-label>Usuarios</ion-label>

<ion-list>
    <span *ngFor="let user of usersKeys">
        
        
    <a ion-item  *ngIf="user.$key !== uid">
            <ion-label>{{user.email}}</ion-label>
            <ion-checkbox (ionChange)="AddRemoveRecipeToFavorite(user.$key);"></ion-checkbox>  
    </a>
    </span>
</ion-list>
</ion-content>