<ion-header>
  <ion-navbar>
    <ion-title>
      Busqueda Chat
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="getItems()"></ion-searchbar>
 
<ion-list>
    <span *ngFor="let item of listaGroupsMessages">

            <ion-list>

               <hr>
                
                <h4>{{item.nameGroup}}</h4>
                <h6>{{item.nameIssue}}</h6>
                <ion-item *ngFor="let message of item.messages"  (click)="openChat(item.keyIssue)">
                <div ng-if="i">{{message.message}}</div>
                </ion-item>
                
           

           
            </ion-list>
             


        

  


    </span>
</ion-list>
 
</ion-content>
