<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button menuToggle (click)="createGroup()"> 
                <ion-icon name="send"></ion-icon>
            </button> 
        </ion-buttons>


        <ion-title>Grupos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

      <ion-item>
            <ion-label floating>Nombre del Grupo</ion-label>
             <ion-input type="text" [(ngModel)]="nameGroup"></ion-input>
        </ion-item>
    
    <ion-label>Userios en el grupo</ion-label>

    <ion-list>
      <span *ngFor="let user of users | async">
          
          
        <a ion-item *ngIf="user.$key !== uid">
             <ion-label>{{user.email}}</ion-label>
             <ion-checkbox (ionChange)="AddRemoveRecipeToFavorite(user.$key);" *ngIf="user.$key !== uid"></ion-checkbox>
            
        </a>
      </span>
    </ion-list>


<ion-label>Prioridad</ion-label>
     <ion-list radio-group [(ngModel)]="relationship">
  <ion-item>
    <ion-label>Normal</ion-label>
    <ion-radio value="friends" checked></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Moderado</ion-label>
    <ion-radio value="family"></ion-radio>
  </ion-item>
  <ion-item>
    <ion-label>Urgente</ion-label>
    <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
  </ion-item>
</ion-list>


</ion-content>