<ion-header>
     <ion-navbar color="secondary">

        <ion-buttons right>
            <button ion-button menuToggle (click)="createIssue()"> 
                <ion-icon name="send"></ion-icon>
            </button> 
        </ion-buttons>


        <ion-title>Incidente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

      <ion-item>
            <ion-label floating>Nombre del Incidente</ion-label>
             <ion-input type="text" [(ngModel)]="nameIssue"></ion-input>
        </ion-item>
    
    <ion-label>Userios en el incidente</ion-label>

    <ion-list>
      <span *ngFor="let user of usersToIssue">
          
          
        <a ion-item  *ngIf="user.$key !== uid">
             <ion-label>{{user.email}}</ion-label>
             <ion-checkbox (ionChange)="AddRemoveRecipeToFavorite(user.$key);"></ion-checkbox>  
        </a>
      </span>
    </ion-list>
</ion-content>