<ion-header>
    <ion-navbar color="secondary">
        <ion-title>Chats Recientes</ion-title>
        <ion-buttons end>
            <ion-spinner color="light" *ngIf="!(users | async)"></ion-spinner>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    
</ion-content>